body{
    margin: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    
}
.background-image{
    background-image: url("images/slider-image3.jpg"); 
    height: 88vh;  
    width: 100%;          
    background-size: cover;     
    background-position: center 0% ;
    background-repeat: no-repeat;
}
/* --------[[Navbar]]-------- */
.navbar{
    height:100px;
    width: 100%;
    display: flex;

}
/* --------[[Left-Navbar]]-------- */
.left-navbar{
    height: 100%;
    width: 16%;
    display: flex;
    align-items: center;
    padding-left: 215px;
}
.left-navbar a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 18px;
    font-weight: bold;
}
.left-navbar span{
    color: red;
}
/* --------[[Mid-Navbar]]-------- */
.mid-navbar{
    height: 100%;
    width: 29%;
    display: flex;
    align-items: center;
    padding-left: 9px;
}
.mid-navbar a{
    font-size: 12px;
    color: #f9f9f9;
    font-weight:bold;
    text-decoration: none;
}
.mid-navbar ul{
    list-style: none;
    display: flex;
    gap: 43px;
    margin: 0;
    padding: 0;
}
.mid-navbar li{
    list-style: none;
}

/* --------[[Right-Navbar]]-------- */
.right-navbar{
    flex: 1;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: #f9f9f9;
    display: flex;
    align-items: center;
}
.call{
    display: flex;
    margin-left: 78px;
} 
.right-navbar .call {
    font-size: 12px;
    font-weight: bold;

}
.call i{
    font-size: 11px;
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-right:2px;
}

.call:hover{
    color:#CE3232;
    transition: color ease-in-out 0.5s;
}
.button{
    height: 44px;
    width:  157px;
    background-color: #CE3232;
    border-radius: 0;
    border: 0;
    color: #f9f9f9;
    font-weight: normal;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 38px;
}
/* -----------[[Background-image left-side]]-------------*/
.Bg-left-content{
    height: 270px;
    width: 970px;
    margin-top: 145px;
    margin-left: 219px;
}
.h3{
    color: #f9f9f9;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 700;
}
.h1{
    color: white;
    width: 700px;
    height: 180px;
    font-size: 42px;
    margin-top: 20px;
    margin-left: 0;   
    margin-bottom: -40px;
    font-weight: 700;
}
.p-btn{
    height: 44px;
    width:  139px;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    font-weight: 400;
    margin-left: 2px;
}
.p-btn:hover{
    background-color: #CE3232;
    transition: background-color ease-in-out 0.9s;
}
/* ----------------[[About Section]]--------------- */
.about-section{
    height:69vh;
    width: 100%;
    display: flex;
}
.left-about{
    height: 416px;
    width: 486px;
    margin-top: 70px;
    margin-left: 220px;
}
.about-h2{
    font-size: 13px;
    color:#BFBDBD;
    font-weight: 700;
    cursor: pointer;
}
.about-h4{
    font-size: 28px;
    color:#353535;
    font-weight: 700;
}
.about-p1{
    font-size: 14px;
    color:#757575;
    font-weight: 400;
}
.about-p2{
    font-size: 14px;
    color:#757575;
    font-weight: 400;
}
.right-about{
    height: 416px;
    width: 600px;
    margin-top: 70px;
    margin-left: 50px;
    display: flex;
    margin-left: 50px;
}
.Image-container{
    height: 416px;
    width: 600px;
}
.about-img{
    height: 100%;
    width: 100%;
}
.about-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* -------------[[Chef Section]]------------- */
.chef-section{
    height:945px;
    width: 100%;
    background-color:rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chef-h2{
    color:#353535;
    font-size: 28px;
margin-top: 105px;
    margin-bottom: 13px;
    font-weight: 700;
}
.chef-h4{
    color:#BFBDBD;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.chef-contianer{
    height: 650px;
    width: 72%;
    display: flex;
    gap: 30px;
    align-items: center;
}
.chef-box{
    height: auto;
    width: 34%;
}
.chef-image {
    height: 100%;
    width: 100%;
}
.chef-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chef-name{
    font-size: 21px;
    color:#454545;
    text-align: center;
    font-weight: 700;
    margin-bottom: 6px;
}
.chef-role{
    font-size: 12px;
    color:#BFBDBD;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* -------------[[Our Menus Section]]------------- */
.our-menus{
    height:945px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.our-h4{
    color:#353535;
    font-size: 28px;
    margin-top: 105px;
    margin-bottom: 13px;
    font-weight: 700;
}
.our-h2{
    color:#BFBDBD;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 60px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu-container{
    height: 650px;
    width: 100%;
    display: flex;
}
.menu-box{
    height: 350px;
    width: 34%;
}
.menu-image {
    height: 100%;
    width: 100%;
}
.menu-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.menu-container2{
    height: 650px;
    width: 100%;
    display: flex;
    margin-top: -48px;
}
.menu-box{
    height: 350px;
    width: 34%;
}
.menu-image {
    height: 100%;
    width: 100%;
}
.menu-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* -------------[[Testimonial Section]]------------- */
.testimonial-sections{
    height: 60vh;
    width: 100%;
    background-color: rgb(249, 249, 249); 
}

/* Heading */
.testimonial-h2{
    font-size: 28px;
    color: #1f2933;   
    text-align: center;
    font-weight: 700;
    padding-top: 150px;
}

/* Description text */
.testimonial-p{
    color: #6b7280;   
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    width: 60%;
    margin: auto;
    padding-top: 6px;
    line-height: 1.6;
}

/* Customer name */
.testimonial-p2{
    color: #c2410c;  
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-top: 12px;
}
/* -------------[[Footer Section]]------------- */
.location-form{
    margin-top: 60px;
    height: 565px;
    width: 100%;
    display: flex;
    border-bottom: #f5f5f5 1px solid;
    border-bottom: 1px solid rgb(235, 234, 234);
}
.left-location{
    height: 100%;
    width: 50%;
    display: flex;
}

.maps{
    width: 71%;
    height: 406px;
    background-color: cadetblue;
    margin-left: 188px;
    margin-top: 30.5px;
    overflow: hidden;  

}
.maps iframe{
    height: 100%;
    width: 100%;
    
}

.right-form{
    height: 100%;
    width: 50%;
margin-left: 33px;
    
}
.form-h4{
        color: rgb(19, 19, 101);
        display: block;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 9px;
    }

.total-form{
    width:70%;
    height: 81.8%;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.input1{
    height: 70px;
    width: 227px;
    padding-left: 10px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: transparent;
    margin-right: 30px;
    
}
.input1:active,
.input1:focus{
    outline: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.input2{
    height: 70px;
    width: 222px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: transparent;
}
.input2:active,
.input2:focus{
    outline: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.form-input3{
    width: 100%;
}
.input3{
     
    height: 70px;
    width:91%;
    margin-top: 5px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: transparent;
    margin-bottom: 15px;
}
.input3:active,
.input3:focus{
    outline: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.textarea{
    
    height: 107px;
    width:91%;
    margin-top: 20px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
     margin-bottom: 12px;
     margin-top: 6px;
     background-color: transparent;
}
.textarea:active,
.textarea:focus{
    outline: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: transparent;
    margin-bottom: 13px;
}
.textarea::placeholder{
    font-size: 15px;
    font-weight: 400;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.form-button{
    background-color: #CE3232;
    height:55px;
    width: 93.6%;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.form-button:hover{
    background-color: #454545;
    transition: background-color ease-in-out 0.5s;
}
/* ----------[[Footer Section]] ------------- */
.footer-body{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    vertical-align: top;
}
.footer1{
    height:200px;
    width:195px;
    margin-left: 187px;
}
.footer-h2{

    color:rgb(53,53,53);
    font-size: 20px;
    font-weight: Montserrat, sans-serif;
    font-weight: 700;
}
.footer-p{
    color:#909090;
    font-weight: 400;
    font-size: 14px;
     font-weight: Montserrat, sans-serif;
     width: 230px;
}
.footer2{
    height:200px;
    width:220px;
    margin-left: 92px;
    margin-right: 63px;
}
.footer3{
    height:280px;
    width:23%;
    display: flex;
    flex-direction: column; 
    border-radius: 15px;
    position: relative;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.77),
            rgba(0, 0, 0, 0.77)
        ),
        url(images/footer-open-hour-bg.jpg);
    background-size: cover;
    background-position: center;
}
.footer3-p{
    color:#ffffff;
    font-size: 20px;
    font-weight: Montserrat, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 44px;
}


.fp1{
    color:rgb(217,217,217);
    font-size: 14px;
    font-weight: Montserrat, sans-serif;
    font-weight: 400;
    margin-bottom: 2px;
    padding-left: 99px;
    
    
}
.fp3 , .fp5{
    color:rgb(217,217,217);
    font-size: 14px;
    font-weight: Montserrat, sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
     padding-left: 99px;
}
.fp2, .fp4{
    color:#f9f9f9;
    font-size: 14px;
    font-weight: Montserrat, sans-serif;
    font-weight:700;
    margin-bottom: 0px;
     padding-left: 99px;
}


.footer4{
    height:200px;
    width:220px;
  margin-left: 15px;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 30px;
  
}
.footer-icons{
    width: 190px;
    height: 40px;
    display: flex;
    margin-left: 39px;
    align-items: center;
}
.footer-icons ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
}
.footer-icons i{
    color:rgb(206,50,50);
    font-family: FontAwesome;
    font-weight: 400;
}
.footer-content-p{
    display: flex  ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(144,144,144);
    font-size: 12px;
    font-weight: Montserrat, sans-serif;
    font-weight: 400;
}
.footer-content-p span{
    color:black;
    font-weight: 700;
    display: inline;
    font-size: 18px;
}
